*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    font-family: "Sitka Text", sans-serif;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 25vh 50vh 25vh;
    transition: 1s ease-in;
    overflow: hidden;
    place-items: center;
}

.quote-box {
    background-color: white;
    width: 40rem;
    height: fit-content;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 3rem;
    border-radius: 10px;
    vertical-align: baseline;

    /*block-size: fit-content;*/
    /*display: table;*/
    /*overflow: unset;*/
}

.quote {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: 1s ease-in;
}


.author {
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-end;
    transition: 1s ease-in;
}

a {
    background-color: cornflowerblue;
    color: white;
    width: 3rem;
    height: 3rem;
    display: inline-block;

    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    transition: opacity 0.5s, background-color 1s ease-in;
    cursor: pointer;
}

a > i {
    vertical-align: middle;
}

.new-quote {
    background-color: cornflowerblue;
    color: white;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;

    border-radius: 10px;
    float: right;

    border: none;
    transition: opacity 0.5s, background-color 1s ease-in;
    cursor: pointer;
    font-family: "Sitka Text",sans-serif;
}

.buttons {
    margin-top: 1rem;
}

a:hover, .new-quote:hover {
    opacity: 0.5;
}
